---
import Layout from "../layouts/Layout.astro";
import Timeline from "./Timeline.svelte";

import { getI18N } from "../i18n";
const { currentLocale = "es" } = Astro;
const i18n = getI18N(currentLocale);
---

<Layout title={i18n.header.announcement}>
  <div
    class="flex flex-col items-center mx-auto my-10 lg:my-20 w-[88%] lg:w-[65%] max-w-5xl">
    <article class="text-xl py-4 flex flex-col gap-4">
      <h1 class="text-4xl lg:text-5xl font-semibold">
        {i18n.announcement.title}
      </h1>

      <h2 class="text-2xl lg:text-3xl font-semibold text-justify">
        {i18n.announcement.subtitle}
      </h2>
      <p class="text-justify">
        {i18n.announcement.paragraph_1}
      </p>

      <p class="text-justify">
        {i18n.announcement.paragraph_2}
      </p>
      <p class="text-justify">
        {i18n.announcement.paragraph_3}
      </p>
      <p class="text-justify">
        {i18n.announcement.paragraph_4}
      </p>
      <ul class="list-disc list-inside">
        {
          i18n.announcement.list.map((item) => (
            <li class="text-justify"> {item}</li>
          ))
        }
      </ul>

      <section class="flex flex-col w-full gap-14 items-center mt-7">
        <h2 class="font-bold text-4xl">{i18n.dates.title}</h2>
        <Timeline client:load {i18n} />
      </section>
    </article>
  </div>
</Layout>
