---
import Layout from "../layouts/Layout.astro";

import { getI18N } from "../i18n";
const { currentLocale = "es" } = Astro;
const i18n = getI18N(currentLocale);
---

<Layout title="Congreso Poética">
  <div class="flex flex-col items-center">
    <article class="text-pretty text-xl py-4 flex flex-col gap-4 mx-5 sm:mx-20">
      <h1 class="text-3xl sm:text-5xl font-semibold">{i18n.comitees.title}</h1>
      <h2 class="text-3xl font-semibold">{i18n.comitees.subtitle_1}</h2>
      <ul class="list-disc">
        {i18n.comitees.content_1.map((text) => <li>{text}</li>)}
      </ul>

      <h2 class="text-3xl font-semibold">{i18n.comitees.subtitle_2}</h2>
      <ul class="list-disc">
        {i18n.comitees.content_2.map((text) => <li>{text}</li>)}
      </ul>

      <h2 class="text-3xl font-semibold">{i18n.comitees.subtitle_3}</h2>
      <ul class="list-disc">
        {i18n.comitees.content_3.map((text) => <li>{text}</li>)}
      </ul>
    </article>
  </div>
</Layout>
