---
import Layout from "../layouts/Layout.astro";

import Profile from "./Profile.svelte";

import { getI18N } from "../i18n";
const { currentLocale = "es" } = Astro;
const i18n = getI18N(currentLocale);
---

<Layout title={i18n.header.investigation}>
  <div
    class="flex flex-col items-center mx-auto my-10 lg:my-20 w-[95%] lg:w-[65%]">
    <article class="text-pretty text-xl py-4 flex flex-col gap-8 mx-5 sm:mx-20">
      <h1 class="mb-5 text-4xl sm:text-5xl font-semibold">
        {i18n.group.title}
      </h1>
      <div class="flex flex-col gap-2">
        <h2 class="text-3xl font-semibold">{i18n.group.subtitle_1}</h2>
        <p>{i18n.group.content_1}</p>
      </div>

      <div class="flex flex-col gap-2">
        <h2 class="text-3xl font-semibold mb-4">{i18n.group.subtitle_2}</h2>
        <div class="grid xl:grid-cols-4 gap-4 grid-cols-1">
          <Profile
            name="Valentina Colonna"
            institution="Universidad de Granada"
            img="/img/fotos/valentina.jpg"
            credit="Foto de Daniele Ferroni"
          />
          <Profile
            name="Domingo Román"
            institution="Universidad de Santiago de Chile"
            img="/img/fotos/domingo.jpg"
            credit="Foto de Jenniffer Belloni"
          />
          <Profile
            name="Nicolás Retamal"
            institution="Universidad de Concepción"
            img="/img/fotos/nicolas.jpg"
          />
          <Profile
            name="Antonio Pamies"
            institution="Universidad de Granada"
            img="/img/fotos/antonio.png"
          />
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <h2 class="text-3xl font-semibold">{i18n.group.subtitle_3}</h2>
        <ul class="list-disc pl-8">
          {i18n.group.content_3.map((text) => <li>{text}</li>)}
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h2 class="text-3xl font-semibold">{i18n.group.subtitle_4}</h2>
        <ul class="list-disc pl-8">
          {i18n.group.content_4.map((text) => <li>{text}</li>)}
        </ul>
        <p>{i18n.group.colaborating}</p>
      </div>

      <div class="flex flex-col gap-2">
        <h2 class="text-3xl font-semibold">{i18n.group.subtitle_5}</h2>
        <ul class="list-disc pl-8">
          {i18n.group.content_5.map((text) => <li>{text}</li>)}
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h2 class="text-3xl font-semibold">{i18n.group.subtitle_6}</h2>
        <ul class="list-disc pl-8">
          <li>{i18n.group.content_6}</li>
        </ul>
      </div>
    </article>
  </div>
</Layout>
