---
import Layout from "../layouts/Layout.astro";

import BioProfile from "./BioProfile.svelte";

import { getI18N } from "../i18n";
const { currentLocale = "es" } = Astro;
const i18n = getI18N(currentLocale);
---

<Layout title={i18n.header.schedule}>
  <div
    class="flex flex-col items-center gap-20 mx-auto my-10 lg:my-20 w-[95%] lg:w-[65%]">
    <div class="flex flex-col gap-5">
      <h1 class="mb-5 text-3xl sm:text-4xl font-semibold">
        {i18n.schedule.keynotes_speakers.title}
      </h1>
      <BioProfile
        name="Plinio Barbosa"
        description={i18n.schedule.keynotes_speakers.description.plinio_barbosa}
        img="/img/fotos/plinio.jpg"
      />
      <BioProfile
        name="Charles Bernstein"
        description={i18n.schedule.keynotes_speakers.description
          .charles_bernstein}
        img="/img/fotos/charles.jpg"
      />
      <BioProfile
        name="Stefan Blohm"
        description={i18n.schedule.keynotes_speakers.description.stefan_blohm}
        img="/img/fotos/stefan.jpg"
      />
    </div>

    <div class="flex flex-col gap-10">
      <h1 class="mb-5 text-3xl sm:text-4xl font-semibold">
        {i18n.schedule.poets.title}
      </h1>
      <BioProfile
        name="Klaura Anchio"
        description={i18n.schedule.poets.description.klaura_anchio}
        img="/img/fotos/klaura.jpg"
      />
      <BioProfile
        name="Estefania Cabello"
        description={i18n.schedule.poets.description.estefania_cabello}
        img="/img/fotos/estefania.jpg"
      />
      <BioProfile
        name="Miguel Rodriguez"
        description={i18n.schedule.poets.description.miguel_rodriguez}
        img="/img/fotos/miguel.jpg"
      />
      <BioProfile
        name="Rafael Rubio"
        description={i18n.schedule.poets.description.rafael_rubio}
        img="/img/fotos/rafael.jpg"
      />
    </div>
  </div>
</Layout>
