---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.astro";
import { getI18N } from "../i18n";
const { currentLocale = "es" } = Astro;
const i18n = getI18N(currentLocale);
interface Props {
  title: string;
}

const { title } = Astro.props;

const pathname = Astro.url.pathname;

console.log("\npath1", pathname);
let pathSplit = pathname.split("/");
console.log(pathSplit);

// Comentar en dev, bug entre dev y build
pathSplit.pop();
let pathTo = "/" + (pathSplit.pop() ?? "");
console.log(pathSplit);
console.log("pathtO", pathTo);
console.log("path2", pathname);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />
    <title>{title}</title>
  </head>
  <body class="fondo">
    <Header client:load {i18n} {currentLocale} pathname={pathTo} />
    <slot />
    <Footer {i18n} />

    <style is:global>
      .fondo {
        background: rgb(233, 228, 240);
        background: linear-gradient(
          90deg,
          rgba(233, 228, 240, 1) 0%,
          rgba(211, 204, 227, 1) 100%
        );
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
